@{
    ViewData["Title"] = "Home Page";
}

<section>
    <!-- Intro -->
    <div id="intro" class="img-fluid vh-100" >
        <div class="mask vh-100">
            <div class="container">
                <div class="row  vh-100 pb-5 pt-5 align-content-center">
                    <div class="col-md-9">
                        <h5 class="text-white">A Whole New Look</h5>
                        <h1 class="text-white display-1 mt-4 mb-3 custom-bigger-font anim-typewriter">Beauty & Beyond</h1>
                        <h3 class="text-white display-6 anim-typewriterh3">"Embrace Your Inner Diva"</h3>
                        
                       
                    </div>


                </div>

            </div>
        </div>
        
      
    </div>
    <!-- Intro -->
    </section>



    <div class="container">
        <div class="row">
            <div class="col text-center pt-5 pb-5 m-2">
            <h5 class="custom-txt-primary">A Brush of Perfection</h5>
                <h1 class="display-6">Add a Flavor to Being a Girl</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card">
                <img class="card-img-top" src="/images/card1.jpg" alt="product images" />
                    
                    <div class="card-body">
                        <p class="card-subtitle text-muted">category</p>
                        <h5 class="card-title text-uppercase">PRODUCT NAME</h5>
                        <p class="card-text">100 INR</p>
                    </div>
                </div>
            </div>
        <div class="col-md-3 col-sm-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/images/card2.jpg" alt="product images"/>
                    <div class="card-body">
                        <p class="card-subtitle text-muted">category</p>
                        <h5 class="card-title text-uppercase">product name</h5>
                        <p class="card-text">100 INR</p>
                    </div>
                </div>
            </div>
        <div class="col-md-3 col-sm-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/images/card3.jpg" alt="product images" />
                    <div class=" card-body">
                        <p class="card-subtitle text-muted">category</p>
                        <h5 class="card-title text-uppercase">product name</h5>
                        <p class="card-text">100 INR</p>

                    </div>

                </div>
            </div>
        <div class="col-md-3 col-sm-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/images/card4.jpg" alt="product images" />
                    <div class="card-body">
                        <p class="card-subtitle text-muted">category</p>
                        <h5 class="card-title text-uppercase">product name</h5>
                        <p class="card-text">100 INR</p>

                    </div>

                </div>
            </div>
        </div>
    </div>

